@page
@model RegisterStudent2Model
@{
}
<div class="panel panel-primary">
  <div class="panel-heading"><h4>Program</h4></div>
  <div class="panel-body">

    <div class="row">
      <div class="form-group  col-xs-4">
        <label for="lstProgram">Program</label>
        <select id="lstProgram">
          <option>Taqwa Sunday School 2018-2019</option>
        </select>
      </div>

    </div>

  </div>
</div>



<div class="panel panel-primary">
  <div class="panel-heading"><h4>Guardian(s)/Parent</h4></div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group  col-xs-4">
        <label for="txtFFirstName">Father</label>
        <a href="#" class="form-control">Select Father</a>
      </div>
      <div class="form-group  col-xs-4">
        <label for="txtFFirstName">Mother</label>
        <a href="#" class="form-control">Select Mother</a>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><h4>Payment</h4></div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group  col-xs-4">
        <label for="txtPaymentAmount">Amount</label>
        <input id="txtPaymentAmount" name="txtPaymentAmount" class="form-control" />
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="chkIsPartialPayment">
        <label class="form-check-label" for="chkIsPartialPayment">Is Partial Payment</label>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading"><h4>Student 1 Information</h4></div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group  col-xs-4">
        <label for="txtFFirstName">Student 1</label>
        <a href="#" class="form-control">Select</a>
      </div>
      <div class="form-group  col-xs-4">
        <label for="txtFMName">Public School Grade</label>
        <input id="txtFMName" name="txtFMName" class="form-control" />
      </div>

      <div class="form-group  col-xs-4">
        <label for="txtFLastName">Islamic School Grade</label>
        <input id="txtFLastName" name="txtFLastName" class="form-control" />
      </div>

    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><h4>Student 2 Information</h4></div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group  col-xs-4">
        <label for="txtFFirstName">Student 2</label>
        <a href="#" class="form-control">Select</a>
      </div>
      <div class="form-group  col-xs-4">
        <label for="txtFMName">Public School Grade</label>
        <input id="txtFMName" name="txtFMName" class="form-control" />
      </div>

      <div class="form-group  col-xs-4">
        <label for="txtFLastName">Islamic School Grade</label>
        <input id="txtFLastName" name="txtFLastName" class="form-control" />
      </div>

    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><h4>Student 3 Information</h4></div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group  col-xs-4">
        <label for="txtFFirstName">Student 1</label>
        <a href="#" class="form-control">Select</a>
      </div>
      <div class="form-group  col-xs-4">
        <label for="txtFMName">Public School Grade</label>
        <input id="txtFMName" name="txtFMName" class="form-control" />
      </div>

      <div class="form-group  col-xs-4">
        <label for="txtFLastName">Islamic School Grade</label>
        <input id="txtFLastName" name="txtFLastName" class="form-control" />
      </div>

    </div>
  </div>
</div>

