@page
@model ISCJ.Pages.ContactManagement.BulkContactEntryModel
@{
    ViewData["Title"] = "BulkContactEntry";
}

<h2>BulkContactEntry</h2>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Gender</th>
  </tr>
  <tr>
    <td> <input type="text" /></td>
    <td> <input type="text" /></td>

    <td> <input type="text" /></td>

    <td> <input type="text" /></td>
  </tr>
  <tr>
    <td> <input type="text" /></td>
    <td> <input type="text" /></td>

    <td> <input type="text" /></td>

    <td> <input type="text" /></td>
  </tr>

  <tr>
    <td> <input type="text" /></td>
    <td> <input type="text" /></td>

    <td> <input type="text" /></td>

    <td> <input type="text" /></td>
  </tr>
  <tr>
    <td> <input type="text" /></td>
    <td> <input type="text" /></td>

    <td> <input type="text" /></td>

    <td> <input type="text" /></td>
  </tr>
  <tr>
    <td> <input type="text" /></td>
    <td> <input type="text" /></td>

    <td> <input type="text" /></td>

    <td> <input type="text" /></td>
  </tr>
  <tr>
    <td> <input type="text" /></td>
    <td> <input type="text" /></td>

    <td> <input type="text" /></td>

    <td> <input type="text" /></td>
  </tr>

</table>

