@page
@model ContactAddModel
@{
}
<!--<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Name</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Address</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Telephone</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Other</a>
  </li>
</ul>-->
<form name="frmCreateContact" method="post" action="ContactAdd">
<div class="form-group">
  <label for="txtFirstName">First Name</label>
  <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
</div>
<div class="form-group">
  <label for="txtLastName">Last Name</label>
  <input type="text" class="form-control" id="txtLastName" placeholder="Last">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
<div class="form-group">
  <label for="txtDOB">DOB:</label>
  <input type="text" class="form-control" id="txtDOB" placeholder="DOB">
  <small id="emailHelp" class="form-text text-muted">optional</small>
</div>
<div class="form-group">
  <label for="lstGender">Gender:</label>
  <select id="lstGender" class="form-control">
    <option value="1">Male</option>
    <option value="2">Female</option>
  </select>
  
</div>
<div class="form-group">
  <label for="txtHomePhone">Home Phone</label>
  <input type="text" class="form-control" id="txtHomePhone" placeholder="Home Phone">
</div>
<div class="form-group">
  <label for="txtCellPhone">Cell Phone</label>
  <input type="text" class="form-control" id="txtCellPhone" placeholder="Cell Phone">
</div>

<div class="form-group">
  <label for="txtStreet">Street</label>
  <input type="text" class="form-control" id="txtStreet" placeholder="Street">
</div>
<div class="form-group">
  <label for="txtZip">Apt</label>
  <input type="text" class="form-control" id="txtApt" placeholder="APT Number">
</div>
<div class="form-group">
  <label for="txtCity">City</label>
  <input type="text" class="form-control" id="txtCity" placeholder="City">
</div>
<div class="form-group">
  <label for="txtZip">Zip</label>
  <input type="text" class="form-control" id="txtZip" placeholder="Zip">
</div>

<button type="submit" class="btn btn-primary" id="btnCancel">Cancel</button>
<button type="submit" class="btn btn-primary" id="btnReset">Reset</button>
<button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
  </form>
