@page
@model ISCJ.Pages.ContactManagement.ContactListModel
@{
    ViewData["Title"] = "ContactList";
}

<h2>ContactList</h2>

<table>
  <thead>
    <tr>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>

      <th>
        Phone 1
      </th>
      <th>
        Phone 2
      </th>
      <th>
        Email
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
      <td><input type="button" class="btn-sm btn-success" value="Details" /></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
      <td><input type="button" class="btn-sm btn-success" value="Details" /></td>
    </tr>

    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
      <td><input type="button" class="btn-sm btn-success" value="Details" /></td>
    </tr>

  </tbody>
</table>
