@page
@model ContactAddModel
@{
}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Name</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Address</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Telephone</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Other</a>
  </li>
</ul>
