@page
@model ISCJ.Pages.UserAlertsModel
@{
    ViewData["Title"] = "UserAlerts";
}

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Alerts</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="breadcrumb-item">
                User
            </li>
            <li class="active breadcrumb-item">
                <strong>Alerts</strong>
            </li>
        </ol>
    </div>
</div>

