@page
@model InvoiceListModel
@{
}
<table class="table-bordered">

 <tr>
  
    <th>Generation Date</th>
  <th>Due Date</th>
    <th>Invoice Amount</th>
   <th>Is Paid</th>

 </tr>
  <tbody>
    @for(var i=0;i<Model.Invoices.Count;i++)
    {
      <tr>
      <td>@Model.Invoices[i].GenerationDate</td>
      <td>@Model.Invoices[i].DueDate</td>
      <td>@Model.Invoices[i].InvoiceAmount</td>
        <td>@Model.Invoices[i].IsPaid</td>
        </tr>
    }
  </tbody>
</table>
