@page
@model ISCJ.Pages.Admin.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form id="LoginForm" method="post">
    <div class="form-group">
        <label for="txtFirstName">User Name:</label>
        <input type="text" name="txtUserName" id="txtUserName" class="form-control" />
        <label for="txtPassword">Password:</label>
        <input type="text" name="txtPassword" id="txtPassword" class="form-control" />
        

    </div>
    <div>
        <input type="submit" id="btnLogin" name="btnLogin" value="Save" class="btn btn-primary" />
        <input type="submit" id="btnLogin" name="btnLogin" value="Cancel" class="btn btn-secondary" />
    </div>
</form>

