@page
@model ISCJ.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}
<form class="m-t" role="form" method="post">
    <h2>ForgotPassword</h2>

    <h1>Email:</h1>

    <input type="hidden" asp-for="@Model.QuestionId" />
    Email:
    <input type="text" asp-for="UserEmail" />
    <br />

    Security Question:
    <label>@Model.Question</label>
    <br />
    Answer:<input type="Text" asp-for="@Model.Answer" />

    <br />
    New Password:
    <input type="password" asp-for="@Model.NewPassword"  />
    <input type="submit" value="Change Password" />



    </form>